<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" />
  <script src="/static/Controller.js"></script>
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
<div ng-controller="RelaysController">
  <div>
    <h1 ng-bind="header"></h1>
  </div>
  <div>
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in relays">
          <td class="vert-align" ng-bind="item.id"></td>
          <td class="vert-align">
            <b ng-bind="item.name"</b>
          </td>
          <td class="vert-align">
          <img ng-src=[[item.image]] ng-click="toggleRelay(item)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

</html>